@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: silver;
}

header {
  background: white;
  padding: 8px;
}

nav {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
}

nav img {
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search {
  height: 19px;
  width: 100%; 
  max-width: 200px;
  margin-right: 5px;
  background-color: silver;
}

.search-button {
  width: 32px;
  height: 19px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.search-icon {
  font-size: 18px;
  cursor: pointer;
}

.navbar-line {
  height: 6px; 
  background-color: turquoise; 
}

.mainImage{
 
}
.template {
  margin: 65px;
  margin-left: 174px;
  width: 1573px;
  height: 591px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 600px) {
  nav img {
    margin-right: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav li {
    margin: 10px 0;
  }
}
